.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    widows: 100%;
    z-index: -1;
    opacity: .25;
    overflow: hidden;

    &__content{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}